form{
    width: 60%;
    height: 400px;
    background-color: #3d3d3d;
    border-radius: 12px;
}

h2,h3{
    color: #3DE123;
    margin: 1%;
}

h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}

.label{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 1%;
}

.successful{
    color: #3DE123;
    margin: 1%;
}
.failed{
    color: #FF0000;
    margin: 1%;
}

.input{
    align-items: center;
    margin: auto;
    width: 300px;
    height: 40px;
    background-color: #eaeaea;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 19px;
    padding-left: 1%;
    margin: 3% auto;
}

.submit{
    width: 220px;
    height: 60px;
    color: #FFF;
    background: #3DE123;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;

}